
@{
    ViewBag.Title = "GetRolesforUserConfirmed";
}

<h2>Roles for this user are:</h2>
@if (ViewBag.RolesforThisUser != null)
{
    <div>
        <ol>
            @foreach (string s in ViewBag.RolesforThisUser)
            {
                <li>@s</li>
            }
        </ol>
    </div>
}

