
@{
    ViewBag.Title = "GetUsers";
}

<h2>List of Users</h2>
@foreach (var user in Model)
{
    <p>
        @user.UserName |
        @Html.ActionLink("Edit", "EditUser", new { Id = user.Id}) |
        @Html.ActionLink("Delete", "DeleteUser", new { Id = user.Id})
    </p>
}
@*is this the right controller?*@
@Html.ActionLink("Add User", "Register", new { controller = "Account"})
